@model JobPortal.Areas.Users.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Change Password";
}

<div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Profile</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="col-md-4">

    <partial name="_Alert" />

    <div class="card">
        <div class="card-body">
            <form asp-action="ChangePassword" method="post" autocomplete="off">
                <input asp-for="@Model.Id" type="hidden" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="@Model.Email" class="form-label" aria-required="true"></label>
                    <input asp-for="@Model.Email" class="form-control" readonly />
                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.Password" class="form-label"></label>
                    <input asp-for="@Model.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="@Model.ConfirmPassword" class="form-label"></label>
                    <input asp-for="@Model.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Change Password</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>