@{
    ViewData["Title"] = "Manage User";
    ViewData["ActiveNav"] = "Users";
}

<div class="col-md-12">

    <partial name="_Alert" />

    <div class="card shadow-none">

        <div class="card-header d-flex justify-content-between">
            <div>
                <i class="bi bi-table"></i><span> Lists</span>
            </div>
            <div>
                <a asp-action="Add" class="btn btn-success">Add User</a>
            </div>
        </div>

        <div class="card-body table-responsive">

            @Html.ValidationSummary()

            <table class="table table-bordered table-report border">

                <thead class="bg-secondary-light">
                    <tr>
                        <th class="text-center" width="30px">#</th>
                        <th>Full Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @{
                        var sn = 0;
                    }
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">
                                @{
                                    sn++;
                                } @sn
                            </td>
                            <td>
                                @if (String.IsNullOrEmpty(user.ProfilePictureUrl) || user.ProfilePictureUrl == null)
                                {

                                    <img src="~/static/default-img.jpg" class="rounded-circle border" style="width:30px; height:30px">

                                }
                                else
                                {

                                    <img src="data:image;base64,@user.ProfilePictureUrl" class="rounded-circle border" style="width: 30px; height:30px">
                                }
                                @user.FirstName @user.LastName
                            </td>
                            <td>@user.Email</td>
                            <td>@user.PhoneNumber</td>
                            <td>
                                @if (user.IsActive == true)
                                {
                                    <span class="badge bg-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">Inactive</span>
                                }
                            </td>
                            <td>@user.Role</td>
                            <td>
                                <a asp-action="Edit" asp-route-id=@user.Id class="text-primary" title="Edit"><i class="bi bi-pencil-square"></i></a> |
                                <a asp-action="ChangePassword" asp-route-id=@user.Id class="text-primary" title="Change Password"><i class="bi bi-lock"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function() {
            $('.table-report').DataTable({
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "autoWidth": true
            });
        });
    </script>
}