@{
    ViewData["Title"] = "Manage User";
    ViewData["ActiveNav"] = "Users";
}

<div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="col-12">

    <div class="row justify-content-between">

        <div class="col-md-12">

            <partial name="_Alert" />

            <div class="card">

                <div class="card-header d-flex justify-content-between">
                    <div>
                        <i class="bi bi-table"></i><span> Lists</span>
                    </div>
                    <div>
                        <a asp-action="Add" class="btn btn-sm btn-primary">Add User</a>
                    </div>
                </div>

                <div class="card-body table-responsive">

                    <table class="table table-bordered row-border table-report border">
                        <thead class="">
                            <tr>
                                <th class="text-center">SN</th>
                                <th></th>
                                <th>Last Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Role</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                var sn = 0;
                            }
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td class="text-center">@{
                                            sn++;
                                        } @sn</td>
                                    <td class="text-center">
                                        @if(String.IsNullOrEmpty(user.ProfilePictureUrl) || user.ProfilePictureUrl == null){

                                            <img src="~/static/default-img.jpg" class="img-fluid rounded-circle border" style="width:50px; height:50px">

                                        }else{
                                            
                                            <img src="data:image;base64,@user.ProfilePictureUrl" class="img-fluid rounded-circle border" style="width: 50px; height:50px">
                                        }
                                    </td>
                                    <td>@user.FirstName</td>
                                    <td>@user.LastName</td>
                                    <td>@user.Email</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>
                                        @if (user.IsActive == true)
                                        {
                                            <span class="badge bg-success">Active</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-danger">Inactive</span>
                                        }
                                    </td>
                                    <td>@user.Role</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id=@user.Id class="text-primary" title="Edit"><i class="bi bi-pencil-square"></i></a> |
                                        <a asp-action="ChangePassword" asp-route-id=@user.Id class="text-primary" title="Change Password"><i class="bi bi-lock"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function() {
            $('.table-report').DataTable({
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "autoWidth": true
            });
        });
    </script>
}