@model IEnumerable<JobPortal.Areas.Jobs.Models.Job>

@{
    ViewData["Title"] = "Job List";
    ViewData["ActiveNav"] = "Jobs";
}

<div class="d-flex">
    <a asp-area="Jobs" asp-controller="Job" asp-action="Add" class="btn btn-success">Post a Job</a>
</div>

<div class="col-md-12">

    <partial name="_Alert" />

    <div class="row justify-content-between">

        @Html.ValidationSummary()

        <table class="table table-bordered table-report border">

            <thead class="bg-light">
                <tr>
                    <th>
                        Job Title
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Applications
                    </th>
                    <th>
                        Deadline
                    </th>
                    <th data-orderable="false"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <h6 class="fw-bold">@item.Title</h6>
                            <small class="text-muted">Posted Date : @item.CreatedAt.ToString("yyyy-MM-dd")</small>
                        </td>
                        <td>
                            @if (item.IsPublished == true)
                            {
                                <span class="badge bg-success">Active</span>
                            }
                            else
                            {
                                <span class="badge bg-warning">Not Publised</span>
                            }
                        </td>
                        <td>
                            <span class="badge bg-primary">0</span>
                        </td>
                        <td>
                            @item.ExpireDate.ToString("yyyy-MM-dd")
                        </td>
                        <td class="text-center">
                            <a href=""><i class="fs-4 bi bi-clipboard-check text-primary text-hover-success" title="Copy Link"></i></a>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fs-4 bi bi-pencil-square text-primary text-hover-success" title="Edit"></i></a>
                            <a href=""><i class="fs-4 bi bi-info-square text-primary text-hover-success" title="View"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function() {
            $('.table-report').DataTable({
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "autoWidth": true
            });
        });
    </script>
}