@using JobPortal.Helper
@model JobPortal.Areas.Jobs.ViewModel.IndexViewModel

@{
    ViewData["Title"] = "Jobs";
    ViewData["ActiveNav"] = "Jobs";
}

<div class="d-flex justify-content-between">
    <div class="pt-3">
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Dashboard</li>
                <li class="breadcrumb-item">@ViewData["Title"]</li>
            </ol>
        </nav>
    </div>
    <div>
        <ul class="list-inline">
            <li class="list-inline-item">
                @if (Context.Request.QueryString.HasValue == true)
                {
                    <a asp-action="Index" class="text-danger"><i class="bi bi-x-circle"></i> Clear Filter</a>
                }
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-outline-primary bg-primary-light" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-funnel"></i></button>
            </li>
            <li class="list-inline-item">
                <a asp-area="Jobs" asp-controller="Job" asp-action="Add" class="btn btn-success">Post a Job</a>
            </li>
        </ul>
    </div>
</div>

<!-- Modal -->
<div class="modal right fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <form asp-action="Index" method="get" id="FilterForm">

                    <div class="mb-3 col-md-12">
                        <label class="form-label">Job Category</label>
                        <select asp-for="Category" asp-items="Model.JobCategories" class="form-control selectpicker" data-live-search="true" title="Select..."></select>
                    </div>

                    <div class="mb-3 col-md-12">
                        <label class="form-label">Job Qualification</label>
                        <select asp-for="JobQualification" asp-items="Model.JobQualifications" class="form-control selectpicker" data-live-search="true" title="Select..."></select>
                    </div>

                    <div class="mb-3 col-md-12">
                        <label class="form-label">Job Experience</label>
                        <select asp-for="JobExperience" asp-items="Model.JobExperiences" class="form-control selectpicker" data-live-search="true" title="Select..."></select>
                    </div>

                    <div class="mb-3 col-md-12">
                        <label class="form-label">Job Level</label>
                        <select asp-for="JobLevel" asp-items="Model.JobLevels" class="form-control selectpicker" data-live-search="true" title="Select..."></select>
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Posted Date From</label>
                            <input type="date" onfocus="this.showPicker()" name="PostedDateFrom" class="form-control DateTime" />
                        </div>

                        <div class="mb-3 col-md-6">
                            <label class="form-label">Posted Date To</label>
                            <input type="date" onfocus="this.showPicker()" name="PostedDateTo" class="form-control DateTime" />
                        </div>

                    </div>

                    <div class="mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="IsActive" id="checkbox1" value="true">
                            <label class="form-check-label" for="checkbox1">Active</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="NotPublished" id="checkbox2" value="true">
                            <label class="form-check-label" for="checkbox2">Not Published</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="Expired" id="checkbox3" value="true">
                            <label class="form-check-label" for="checkbox3">Expired</label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-start">
                        <button type="submit" class="btn btn-primary">Filter</button>
                        <button type="button" class="btn nav-link reset-btn mx-2"><i class="bi bi-x-circle"></i> Clear </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="col-md-12">

    <partial name="_Alert" />

    <div class="card shadow-none">

        <div class="card-body table-custom table-responsive">

            <table class="table table-report">

                <thead class="bg-light">
                    <tr>
                        <th>Job Title</th>
                        <th>Applications</th>
                        <th>Deadline</th>
                        <th>Status</th>
                        <th data-orderable="false"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.JobList)
                    {
                        <tr>
                            <td>
                                <h6 class="fw-bold">@item.Title</h6>
                                <small class="text-muted">Posted Date : @item.CreatedAt.ToString("yyyy-MM-dd")</small>
                            </td>
                            <td>
                                <span class="badge bg-primary">0</span>
                            </td>
                            <td>
                                @item.ExpireDate.ToString("yyyy-MM-dd")
                            </td>
                            <td>
                                @if (item.IsPublished == true)
                                {
                                    @if (item.ExpireDate < DateTime.Today)
                                    {
                                        <span class="badge bg-warning">Expired</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-success">Active</span>
                                    }
                                }
                                else
                                {
                                    <span class="badge bg-info">Not Publised</span>
                                }
                            </td>
                            <td class="text-center">
                                <a href="#" class="clipboard-button" data-clipboard-text="@ViewData["BaseUrl"]/apply/@item.Slug"><i class="fs-5 bi bi-clipboard-check text-primary text-hover-success" title="Copy Link"></i></a>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fs-5 bi bi-pencil-square text-primary text-hover-success" title="Edit"></i></a>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fs-5 bi bi-info-square text-primary text-hover-success" title="View"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function() {
            $('.table-report').DataTable({
                "aLengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "autoWidth": true
            });
        });
    </script>
    <script>
        document.getElementByClassName("DateTime").value = "";
    </script>
    <script>
        $(document).ready(function() {
            $(".reset-btn").click(function() {
                $("#FilterForm").trigger("reset");
            });
        });
    </script>
    <script>
        var clipboard = new ClipboardJS('.clipboard-button');
        clipboard.on('success', function(e) {
            $.toast({
                text: 'Link copied to clipboard!',
                position: 'bottom-right',
                icon: 'success',
                showHideTransition: 'slide',
                stack: 2
            })
        });
    </script>
}