<ul class="nav nav-pills">
    <li class="nav-item">
        <a asp-controller="JobConfig"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Category" ? "active" : "")  rounded-0"
           aria-current="true">
            Job Category
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="JobQualifications"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Qualification" ? "active" : "") rounded-0">
            Job Qualifications
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="JobType"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Type" ? "active" : "") rounded-0">
            Job Type
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="SalaryType"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Salary" ? "active" : "") rounded-0">
            Salary Type
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="SalaryRange"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Range" ? "active" : "") rounded-0">
            Salary Range
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="JobExperience"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Experience" ? "active" : "") rounded-0">
            Job Experience
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="JobShift"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Shift" ? "active" : "") rounded-0">
            Job Shift
        </a>
    </li>
    <li class="nav-item">
        <a asp-controller="JobLevel"
           asp-action="Index"
           class="nav-link @(ViewData["ActiveBtn"] == "Level" ? "active" : "") rounded-0">
            Job Level
        </a>
    </li>
</ul>
