@model JobPortal.Areas.Jobs.ViewModel.AddViewModel;

@{
    ViewData["Title"] = "Add Job";
    ViewData["ActiveNav"] = "Jobs";
}

<div>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Dashboard</li>
            <li class="breadcrumb-item">Jobs</li>
            <li class="breadcrumb-item active">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>

<div class="col-md-8">

    <partial name="_Alert" />

    <div class="card">

        <div class="card-body">

            @Html.ValidationSummary()

            <form asp-action="Add" method="post">

                <div class="row">

                    <div class="mb-3 col-md-12">

                        <label asp-for="Title" class="form-label">Job Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>

                <div class="row">

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Application Deadline</label>
                        <input asp-for="@Model.ExpireDate" class="form-control"/>
                        <span asp-validation-for="ExpireDate" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Job Category</label>
                        <select asp-for="Category" class="form-control selectpicker" data-live-search="true" title="Select...">
                            @foreach (var item in Model.JobCategories)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Job Qualification</label>
                        <select asp-for="JobQualification" class="form-control selectpicker" data-live-search="true" title="Select...">
                            @foreach (var item in Model.JobQualifications)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="JobQualification" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Job Type</label>
                        <select asp-for="JobType" class="form-control selectpicker" data-live-search="true" title="Select...">
                            @foreach (var item in Model.JobTypes)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="JobType" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Salary Type</label>
                        <select asp-for="SalaryType" class="form-control selectpicker" data-live-search="true" title="Select...">
                            @foreach (var item in Model.SalaryTypes)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="SalaryType" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Salary Range</label>
                        <select asp-for="SalaryRange" class="form-control selectpicker" data-live-search="true" title="Select...">
                            @foreach (var item in Model.SalaryRanges)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="SalaryRange" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Job Experience</label>
                        <select asp-for="JobExperience" class="form-control selectpicker" data-live-search="true" title="Select...">
                            <option>Select....</option>
                            @foreach (var item in Model.JobExperiences)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="JobExperience" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Job Shift</label>
                        <select asp-for="JobShift" class="form-control selectpicker" data-live-search="true" title="Select...">
                            @foreach (var item in Model.JobShifts)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="JobShift" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-4">

                        <label class="form-label">Job Level</label>
                        <select asp-for="JobLevel" class="form-control selectpicker" data-live-search="true" title="Select...">
                            @foreach (var item in Model.JobLevels)
                            {
                                <option value="@item.Id">@item.Title</option>
                            }
                        </select>
                        <span asp-validation-for="JobLevel" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-12">

                        <label class="form-label">Job Description</label>
                        <textarea asp-for="JobDescription" class="form-control" rows="6" ></textarea>
                        <span asp-validation-for="JobDescription" class="text-danger"></span>
                    </div>

                    <div class="mb-3 col-md-12">

                        <label class="form-label">Job Specification</label>
                        <textarea asp-for="JobSpecification" class="form-control" rows="6" ></textarea>
                        <span asp-validation-for="JobSpecification" class="text-danger"></span>
                    </div>

                </div>

                <button type="submit" class="btn btn-success">Add Job</button>
            </form>
        </div>
    </div>
</div>